/**
* @Copyright ((c) plasma-web.ru
*/

.qf3form.equipment {
    position: relative;
    padding: 3em 3em;
    background: #ffffff;
    max-width: 800px;
    width: 100%;
    margin: 2em auto;
    border-radius: 0.5em;
    font-size: 14px;
    border: 1px solid #6f6f6f;
}

.qf3form.equipment.compact {
    padding: 1em 1em;
}

.qf3form.equipment * {
    margin: 0;
    box-sizing: border-box;
    max-width: none;
    font-size: 1em;
    line-height: 1.2em;
    color: #494949;
}

.qf3form.equipment form > div {
    width: 50%;
}
.qf3form.equipment form > .relatedblock {
    position: relative;
    left: 50%;
    top: -1.2em;
    margin-top: -280px;
}
.qf3form.equipment .box_type2 .radioblok::after {
    content: '';
    display: block;
    border: 10px solid #fff;
    border-top-color: #3289bf;
    position: absolute;
    left: 50%;
    bottom: -2em;
    margin-left: -5px;
}

.qf3form.equipment form > .relatedblock > .relatedblock {
    position: relative;
    left: -100%;
    width: 200%;
    margin-top: 2em;
}
.qf3form.equipment .box_type2 {
    height: 280px;
}
.qf3form.equipment .box_type2 .radioblok {
    height: 100%;
    background: #2578c0;
    border-radius: 2em;
    padding: 1em;
    margin: 0 0 0 1em;
    position: relative;
}
.qf3form.equipment a {
    color: #358ad3;
}
.qf3form.equipment .equbody {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2578c0;
    border-radius: 1em;
    margin: 1em 0 2em;
    flex-wrap: wrap;
    padding: 1em 1em 0.5em;
}
.qf3form.equipment .equbodyimg {
    width: 50%;
    text-align: right;
}
.qf3form.equipment .equbodydesk {
    width: 50%;
    padding: 0em 1em 0em 1em;
}

.qf3form.equipment .equbodyimg img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.qf3form.equipment .equtitle {
    font-weight: bold;
    padding: 0.5em 0;
    color: #4b7975;
}
.qf3form.equipment .equbodydesk span {
    font-weight: bold;
    padding: 0 0.5em;
    color: #2c7851;
}
.qf3form.equipment .equname {
    font-size: 110%;
    color: #929292;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.qf3form.equipment .equprice {
    font-size: 110%;
    padding-top: 0.5em;
}
.qf3form.equipment span.old {
    color: #ff4e4e;
    text-decoration: line-through;
    padding: 0 1em 0 0;
    font-weight: normal;
}
.qf3form.equipment .equorder a {
    display: inline-block;
    padding: 0.3em 2em;
    border-radius: 1em;
    text-align: center;
    background: #2578c0;
    color: #fff;
    margin-top: 1em;
}
.qf3form.equipment .equorder a:hover {
    background: #6d9ec8;
}

.qf3form.equipment .qf3 {
    padding: 0 0 1.2em 0;
}

.qf3form.equipment .qf3label {
    display: block;
    height: 1.2em;
}

.qf3.qfradio.ver.box_type1 .qf3label {
    font-size: 150%;
    padding: 0 0 3em 1em;
    color: #2c7851;
    line-height: 100%;
}


/* message */
.qf3form.equipment .qfmess span {
    padding: 1em;
    margin: 1em;
    display: block;
}
.qf3form.qfmess.equipment.qfmodalform {
    max-width: 62%;
    left: 19%;
    margin: 0;
}

/* radio */
.qf3form.equipment .radioblok {
    display: flex;
    position: relative;
}
.qf3form.equipment .ver .radioblok {
    flex-direction: column;
}
.qf3form.equipment .radioblok input {
    display: none;
}
.qf3form.equipment .radioblok label {
    padding: 0.5em;
    border-radius: 3em;
    border: 1px solid #a1b7ff;
    display: flex;
    color: #11316a;
    cursor: pointer;
    margin: 0 1em 1em 0;
    text-align: center;
    align-items: center;
    min-height: 3em;
    background: #fff;
    position: relative;
}
.qf3form.equipment .radioblok label:hover {
    background: #c3ddf5;
}
.qf3form.equipment .box_type1 .radioblok img {
    width: 60px;
    height: auto;
    margin: 0 1em;
    border-radius: 3em;
}
.qf3form.equipment .box_type2 .radioblok img {
    width: 32px;
    height: auto;
    margin: 0 1em;
    border-radius: 0.3em;
}

.qf3form.equipment .radioblok input:checked + label {
    background: #2578c0;
    color: #fff;
    cursor: default;
}
.qf3form.equipment .box_type2 .radioblok label {
    background: #2578c0;
    color: #fff;
    box-shadow: inset 0 0 10px #9faae7;
}
.qf3form.equipment .box_type2 .radioblok label:hover {
    background: #358ad3;
}

.qf3form.equipment .box_type2 .radioblok input:checked + label {
    background: #fff;
    color: #11316a;
    box-shadow: none;
}
.qf3form.equipment .box_type1 .radioblok input:checked + label::after {
    content: '';
    display: block;
    border: 9px solid #fff;
    border-left-color: #3289bf;
    position: absolute;
    right: -23px;
    width: 0;
}
.qf3form.equipment .box_type3 .radioblok input:checked + label::after {
    content: '';
    display: block;
    border: 10px solid #fff;
    border-top-color: #3289bf;
    position: absolute;
    left: 50%;
    bottom: -28px;
    margin-left: -10px;
}
.qf3form.equipment .box_pumps .radioblok {
    display: block;
}

.qf3form.equipment .box_pumps .radioblok input {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: middle;
}
.qf3form.equipment .box_pumps .radioblok label {
    display: flex;
    margin: -3em 0 1.5em 3em;
    border: 0;
    align-items: center;
    padding: 1px 0 1px 1px;
    justify-content: space-between;
    border-radius: 0 4em 4em 0;
}
.qf3form.equipment .box_pumps label span:nth-child(2) {
    flex-grow: 1;
    text-align: left;
    border-bottom: 1px dotted #ccc;
}
.qf3form.equipment .box_pumps label span:nth-child(3) {
    padding-right: 2em;
}
.qf3form.equipment .box_pumps .radioblok input:checked + label {
    background: #e5eff8;
    color: #11316a;
    cursor: default;
}
.qf3form.equipment .box_pumps .radioblok label img {
    width: 120px;
    height: 60px;
    margin-right: 1em;
    /* border-radius: 2em; */
}

.qf3form.equipment .box_pumps {
    padding: 1em 1em 0;
    border-radius: 1em;
    border: 1px solid #2578c0;
}

.qf3form.equipment .qfcalculatorsum {
    display: none;
}


/* button */
.qf3form.equipment .qf3btn input {
    border: 0;
    border-radius: 2em;
    padding: 0.8em 3em;
    font-size: 90%;
    background: #19619f;
    cursor: pointer;
    color: #fff;
    margin: 2em auto 0;
    display: block;
}
.qf3form.equipment .qf3btn input:hover {
    background: #6d9ec8;
}

.qf3form.equipment .qfaddtocart.incart input {
    pointer-events: none;
    background: #a5cfa5;
    color: #027411;
}


/* link */
.qf3form.equipment .qfcapt, .qf3form.equipmentcontacts .qfcapt {
    text-align: right;
    width: 100%;
    height: 0;
    overflow: visible;
}

.qf3form.equipment .qfcapt a, .qf3form.equipmentcontacts .qfcapt a {
    color: #ccc;
    font-size: 10px;
    margin-top: -1em;
}

.qf3form .nfl {
    display: none;
}


/* equipmentcontacts */

.qf3form.equipmentcontacts * {
    margin: 0;
    box-sizing: border-box;
    max-width: none;
    font-size: 1em;
    line-height: 1.3em;
    color: #494949;
}
.qf3form.equipment a, .qf3form.equipmentcontacts a {
    text-decoration: none;
}

.qf3form.equipmentcontacts.qfoverlay {
    background-color: #010616;
    opacity: 0.96;
    max-width: none;
}

.qf3form.equipmentcontacts.qfmodalform {
    left: 50%;
    margin: 0 0 0 -360px;
    width: 720px;
    background: #fff;
    border-radius: 2em;
    padding: 2em;
    font-size: 13px;
}

.qf3form.equipmentcontacts.qfmodalform.compact {
    left: 0;
    width: 100%;
    margin-left: 0;
}

.qf3form.equipmentcontacts .qfclose {
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    cursor: pointer;
    color: #ff0000;
    font-size: 2em;
    text-shadow: none;
}
.qf3form.equipmentcontacts .equflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 540px;
    margin: 0 auto 1em;
}
.qf3form.equipmentcontacts .equbodyimg {
    width: 62%;
}
.qf3form.equipmentcontacts .equbodyfields {
    width: 60%;
    padding: 0px 4% 0 0;
}
.qf3form.equipmentcontacts .equbodyfieldsinner {
    background: #8fbadf;
    border-radius: 1em;
    padding: 1em;
}

.qf3form.equipmentcontacts .equbodyfields .qf3label {
    display: block;
    margin: 0.5em 0.5em -0.5em;
}
.qf3form.equipmentcontacts img {
    width: 100%;
}
.qf3form.equipmentcontacts .equtitle {
    font-size: 140%;
    color: #064621;
    font-weight: bold;
    padding: 1em 2em 1em;
}

.qf3form.equipmentcontacts .equbodydesk span {
    font-weight: bold;
    padding: 0 0.5em;
    color: #2c7851;
}
.qf3form.equipmentcontacts .equname {
    font-size: 110%;
    color: #929292;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.qf3form.equipmentcontacts .equprice {
    font-size: 110%;
    padding-top: 0.5em;
}
.qf3form.equipmentcontacts span.old {
    color: #ff4e4e;
    text-decoration: line-through;
    padding: 0 1em 0 0;
    font-weight: normal;
}
.qf3form.equipmentcontacts .equbodydesk {
    white-space: nowrap;
}


/* qf_number */
.qf3form.equipmentcontacts .qf_number_inner {
    display: inline-block;
    max-width: 110px;
    width: 100%;
    position: relative;
}

.qf3form.equipmentcontacts .qf_number input[type="number"] {
    width: 100%;
    height: 2.4em;
    padding: .375em .75em;
    border: 1px dotted #6d9ec8;
    border-radius: 0.5em;
    -moz-appearance: textfield;
}

.qf3form.equipmentcontacts .qf_number button {
    border: 1px solid #2578c0;
    background: #2578c0;
    color: #fff;
    font-size: 110%;
    height: 50%;
}

.qf3form.equipmentcontacts .qf_number button:hover {
    background-color: #84b3dc;
}

.qf3form.equipmentcontacts .qf_number input::-webkit-inner-spin-button,
.qf3form.equipmentcontacts .qf_number input::-webkit-outer-spin-button {
    appearance: none;
}

.qf3form.equipmentcontacts .qf_number.ver input {
    padding-right: 3em;
}

.qf3form.equipmentcontacts .qf_number.ver .number__controls {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 2.5em;
}

.qf3form.equipmentcontacts .qf_number.ver .qfdown {
    margin-top: -1px;
    border-width: 1px 1px 0 1px;
}

.qf3form.equipmentcontacts .qf_number.hor input {
    text-align: center;
}

.qf3form.equipmentcontacts .qf_number.hor button {
    position: absolute;
    height: 100%;
    top: 0;
    width: 2.5em;
    line-height: 100%;
    cursor: pointer;
    border-radius: 0.5em;
}

.qf3form.equipmentcontacts.compact .qf_number.hor button {
    width: 25%;
}

.qf3form.equipmentcontacts .qf_number.hor .qfup {
    right: 0;
}
.qf3form.equipmentcontacts .qf3label {
    display: block;
    font-size: 92%;
}
.qf3form.equipmentcontacts .qfcalculatorsum {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.qf3form.equipmentcontacts .qfcalculatorsum label {
    width: 100%;
}
.qf3form.equipmentcontacts .qfunitinner {
    width: 3.5em;
    text-align: right;
}
.qf3form.equipmentcontacts .equbodyprice {
    width: 40%;
    padding: 1em 1em 1em 0;
}
.qf3form.equipmentcontacts .oldtitle {
    font-size: 92%;
    color: #3e74bc;
}
.qf3form.equipmentcontacts .qf_number {
    padding: 0 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qf3form.equipmentcontacts .qf3txt input, .qf3form.equipmentcontacts textarea {
    display: inline-block;
    width: 100%;
    background: #fff;
    margin: 0.3em 0;
    border: 1px solid #365998;
    border-width: 0 0 1px 0;
    font-family: sans-serif;
    padding: 0.6em 1em;
    border-radius: 2em;
}
.qf3form.equipmentcontacts .qf3labelreq {
    padding-left: 0.1em;
}


/* qf_checkbox */
.qf3form.equipmentcontacts .qf_checkbox .qf3label {
    margin: 1.8em 0 0 0;
}

.qf3form.equipmentcontacts .qf_checkbox .qfempty {
    margin: 0;
}

.qf3form.equipmentcontacts .qf_checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.qf3form.equipmentcontacts .qf_checkbox .chbxlabel {
    position: relative;
    padding: 0.3em 0 0 4em;
    cursor: pointer;
    font-size: 82%;
}

.qf3form.equipmentcontacts .qf_checkbox .chbxlabel:before {
    content: '';
    font-size: 80%;
    position: absolute;
    top: 0;
    left: 0;
    width: 3.7em;
    height: 1.8em;
    border: 0;
    border-radius: 1em;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    transition: .2s;
}

.qf3form.equipmentcontacts .qf_checkbox .chbxlabel:after {
    content: '';
    font-size: 80%;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 1.6em;
    height: 1.5em;
    border: 0;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 2px 5px #00000033;
    transition: .2s;
}

.qf3form.equipmentcontacts .qf_checkbox input:checked+.chbxlabel:before {
    background: #94ff7b;
}

.qf3form.equipmentcontacts .qf_checkbox input:checked+.chbxlabel:after {
    left: 2em;
}
.qf3form.equipmentcontacts .qf_checkbox {
    margin: 1em auto 1em;
    max-width: 540px;
}

.qf3form.equipmentcontacts .qfsubmit {
    text-align: center;
    margin: 3em 0 0;
}
.qf3form.equipmentcontacts .qf3btn input {
    border: 0;
    border-radius: 2em;
    padding: 0.8em 3em;
    font-size: 90%;
    background: #19619f;
    cursor: pointer;
    color: #fff;
    margin: 2em auto 0;
    display: block;
}
.qf3form.equipmentcontacts .qf3btn input:hover {
    background: #6d9ec8;
}

/* textarea */
.qf3form.equipmentcontacts textarea {
    height: 7em;
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #19619f;
}

.qf3form.equipmentcontacts .qftextarea {
    padding-bottom: 0.5em;
    max-width: 540px;
    margin: 0 auto;
}
.qf3form.equipmentcontacts.desk {
  	scrollbar-width: thin;
  	scrollbar-color: #000 #1c1c1c;
}

.qf3form.equipmentcontacts.desk::-webkit-scrollbar {
    width: 6px;
}

.qf3form.equipmentcontacts.desk::-webkit-scrollbar-track {
    background: #393939;
}

.qf3form.equipmentcontacts.desk::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
}



/* cart */
.qf_cart_discount {
    background: #3c91dc;
    color: #fff;
}


@media screen and (max-width: 720px) {
  .qf3form.equipment .radioblok {
      flex-direction: column;
  }
  .qf3form.equipment .radioblok label {
      position: initial;
      margin: 0 0 1em 0;
  }
  .qf3form.equipment .box_type3 .radioblok input:checked + label::after {
      bottom: -15px;
  }
  .qf3form.equipment .box_type1 .radioblok input:checked + label::after {
      right: -20px;
  }
  .qf3form.equipment .box_type2 .radioblok img {
      margin: 0 0.3em;
  }
  .qf3form.equipmentcontacts.qfmodalform {
      left: 0;
      margin: 0;
      width: 100%;
      min-height: 100vh;
      border-radius: 0;
  }
}
@media screen and (max-width: 620px) {
  .qf3form.equipment .box_type1 .radioblok img {
      width: 50px;
      margin: 0 0.2em;
  }
  .qf3form.equipment .box_type2 .radioblok img {
      width: 24px;
  }
  .qf3form.equipment {
      padding: 2em 1em;
  }
}
@media screen and (max-width: 520px) {
  .qf3form.equipment form > div {
      width: 100%;
  }
  .qf3form.equipment form > .relatedblock {
      position: inherit;
      margin-top: 0;
  }
  .qf3form.equipment form > .relatedblock > .relatedblock {
      left: 0;
      width: 100%;
  }
  .qf3form.equipment .box_type2 {
      height: auto;
  }
  .qf3form.equipment .box_type2 .radioblok {
      height: auto;
      margin: 0;
  }
  .qf3form.equipment .equbody {
     flex-direction: column;
     text-align: center;
 }
  .qf3form.equipment .equbodyimg, .qf3form.equipment .equbodydesk {
      width: 100%;
      padding: 0.5em 0em 0.5em 0em;
  }
  .qf3form.equipment .box_pumps .radioblok label {
      flex-wrap: wrap;
  }
  .qf3form.equipment .box_type1 .radioblok input:checked + label::after {
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      border-top-color: #3289bf;
      border-left-color: transparent;
  }
  .qf3form.equipment .equorder a {
      padding: 1em 2em;
      border-radius: 2em;
  }
}
@media screen and (max-width: 480px) {
    .qf_td_3 img {
      width: 80px;
    }
    .qf_cart_foot .qf_cart_foot_l {
        padding-right: 0;
    }
    .qf_cart_discount .discount_inp input[type=button] {
        width: 100%;
        margin-top: 1em;
        padding: 0.6em 0;
    }
}
